<div class="container-fluid">
    {% comment %} <a class="navbar-brand" href="#">Navbar</a> {% endcomment %}
   {% comment %} <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>  {% endcomment %}
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="{% url "home-page" %}">Home</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url "hello-user" %}">hello</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url "todo-page" %}">todos</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/admin">admin</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url "register-page" %}">register</a>
       </li>
     </ul>

     {% comment %} <form class="d-flex" role="search">
       <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success" type="submit">Search</button>
     </form> {% endcomment %}
   </div>
 </div>
</nav>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        {% comment %} <p class="alert alert-{{message.tags}}">
            {{message}} 
        </p> {% endcomment %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif %}
